#IDE-Generated
.idea/
.vs/

#Solution files
*.sln
*.csproj
*.DotSettings

#Auto generated
LurkingMonster/Temp/
LurkingMonster/Library/
LurkingMonster/obj/
LurkingMonster/Logs/
LurkingMonster/UserSettings/
LurkingMonster/LurkingMonster.sln.DotSettings.user
Fmod Studio/Lurking_Monster/.unsaved/
Fmod Studio/Lurking_Monster/.user/
Fmod Studio/Lurking_Monster/.cache/
